body {
  background-color: #f4f6fa !important;
}

.navbar + .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .navbar + .container {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
  #datatable_wrapper #datatable_filter,
  #datatable_wrapper #datatable_paginate {
    position: unset !important;
  }
}

.btn svg:first-child {
  margin-right: .25rem;
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.page-title .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding-right: .75rem;
  line-height: 1;
}

#datatable_paginate .paginate_button {
  color: #6c757d;
  background-color: transparent;
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: .2rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #6c757d;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

#datatable_paginate .paginate_button:not(.disabled):hover, #datatable_paginate .paginate_button.current {
  color: #fff;
  background-color: #6c757d;
}

#datatable_paginate .paginate_button.current {
  cursor: default;
}

#datatable_paginate .paginate_button.disabled {
  pointer-events: none;
  opacity: .65;
}

#datatable_paginate > *:not(:last-child) {
  margin-right: .25rem;
}

#datatable_paginate > span a {
  width: 2rem;
}

#datatable_wrapper {
  position: relative;
  width: 100%;
  padding-top: .5rem;
  overflow-x: auto;
}

#datatable_wrapper #datatable_length {
  margin-bottom: 1rem;
}

#datatable_wrapper #datatable_filter {
  position: absolute;
  top: .5rem;
  right: 0;
}

#datatable_wrapper #datatable_paginate {
  position: absolute;
  right: 0;
  bottom: 0;
}

#datatable_wrapper table.dataTable > thead .sorting:before, #datatable_wrapper table.dataTable > thead .sorting:after, #datatable_wrapper table.dataTable > thead .sorting_asc:before, #datatable_wrapper table.dataTable > thead .sorting_asc:after, #datatable_wrapper table.dataTable > thead .sorting_desc:before, #datatable_wrapper table.dataTable > thead .sorting_desc:after, #datatable_wrapper table.dataTable > thead .sorting_asc_disabled:before, #datatable_wrapper table.dataTable > thead .sorting_asc_disabled:after, #datatable_wrapper table.dataTable > thead .sorting_desc_disabled:before, #datatable_wrapper table.dataTable > thead .sorting_desc_disabled:after {
  bottom: .5em;
}

#datatable_wrapper .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}

#datatable_wrapper th .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
}

#datatable_wrapper th .btn svg {
  margin-right: 0;
}

#datatable_wrapper .sorting:last-child {
  pointer-events: none;
}

#datatable_wrapper .sorting:last-child::before, #datatable_wrapper .sorting:last-child::after {
  content: unset !important;
}

.modal-footer .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-footer .btn svg {
  margin-right: .35rem;
}

.alerts {
  position: fixed;
  bottom: 0;
  right: 1rem;
  z-index: 1070;
}

label.required::after {
  content: ' *';
  color: var(--bs-danger);
  color-opacity: 0;
  color-pointer-events: none;
}

.modal-dialog:not(.loading) .spinner-wrapper {
  opacity: 0;
  pointer-events: none;
}

.disabled-row {
  opacity: .75;
}

.disabled-row * {
  pointer-events: none;
}
/*# sourceMappingURL=global.css.map */