



{include="dashboardMenu"}
<div class="container-fluid">
 
    <div class="col-md-12 mb-5">

                        <form  action='/admin/mudar-senhaADM' method="post" >
                                                        
                                                
                                                        
                                {if="$error"}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {$error}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {/if}

                   
                            
                            <div class="form-row">



                                <div class="col-md-12 mb-3">
                                    <label for="current_pass" class="form-label">Insira a senha atual</label>
                                    <input type="password"  name="current_pass" class="form-control text-5 h-auto" id="current_pass"  >                                              
                                  </div>

                                  <div class="col-md-6 mb-3">
                                      <label for="new_pass" class="form-label">Insira a nova senha</label>
                                      <input type="password"  name="new_pass" class="form-control text-5 h-auto" id="new_pass"  >                                              
                                  </div>

                                  <div class="col-md-6 mb-3">
                                      <label for="new_pass_confirm" class="form-label">Confirme a nova senha</label>
                                      <input type="password" class="form-control text-5 h-auto" name="new_pass_confirm" id="new_pass_confirm" >                                              
                                   </div>


                        
                                
                              

                            </div>



                        

                            <button class="btn btn-success text-5 mb-4 mb-md-0 " type="submit">Alterar Senha</button>
                    
                    </form> 


       </div>

    
</div>
