



{include="dashboardMenu"}
<div class="container-fluid">
 
    <div class="col-md-12 mb-5">

                        <form  action='/admin/usuarios/mudar-senha/{function="setHash($RegularUser.iduser)"} ' method="post" >
                            
                     
                                {if="$error"}
                                <div class="alert alert-danger fade show">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>		
                                    {$error}	                                                           
                                </div>
                                {/if}
                          
                                <h1>Alterar a senha de : <strong> {$RegularUser.desperson} (ID = {$RegularUser.iduser}) </strong></h1>
                            <div class="form-row ">

                                   

                                  <div class="col-md-12 mb-3">
                                      <label for="new_pass" class="form-label">Insira a nova senha</label>
                                      <input type="password"  name="new_pass" class="form-control text-5 h-auto" id="new_pass"  >                                              
                                  </div>

                                  <div class="col-md-12 mb-3">
                                      <label for="new_pass_confirm" class="form-label">Confirme a nova senha</label>
                                      <input type="password" class="form-control text-5 h-auto" name="new_pass_confirm" id="new_pass_confirm"  >                                              
                                   </div>


                        
                                
                              

                            </div>



                        

                            <button class="btn btn-success text-5 mb-4 mb-md-0 " type="submit">Alterar Senha</button>
                            <a class="btn btn-danger text-5 mb-4 mb-md-0" href="/admin/">Cancelar  </a>
           
                    
                    </form> 


       </div>

    
</div>
