	<!-- start: page -->
  <div class="row">
    <div class="col">
      {if="$error"}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
       {$error}
  
      </div>
      {/if}

      {if="$sucess"}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
       {$sucess}
  
      </div>
      {/if}
      <div class="card card-modern">
        <div class="card-body">
          <div class="datatables-header-footer-wrapper">
            <div class="datatable-header">
              <div class="row align-items-center mb-3">
                <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                 

                  <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                    <label class="ws-nowrap mr-3 mb-0">Filtar Por:</label>
                    <select class="form-control select-style-1 filter-by" name="filter-by">
                      <option value="all" selected>Mostrar Todos</option>
               
                
                    </select>
                  </div>


                </div>
                <div class="col-8 col-lg-auto ml-auto mb-3 mb-lg-0">
                 
                </div>
                <div class="col-4 col-lg-auto pl-lg-1 mb-3 mb-lg-0">
                  <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                    <label class="ws-nowrap mr-3 mb-0">Colunas:</label>
                    <select class="form-control select-style-1 results-per-page" name="results-per-page">
                      <option value="7" selected>7</option>
                      <option value="24">24</option>
                      <option value="36">36</option>
                      <option value="100">100</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-lg-auto pl-lg-1">
                  <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                    <div class="input-group">
                      <input type="text" class="search-term form-control" name="search-term" id="search-term" placeholder="Procurar usuário...">
                      <span class="input-group-append">
                        <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
      
            <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list" style="min-width: 750px;">
            
         
              <thead>
                <tr>
              
                  <th width="8%">ID</th>
                  <th width="28%">Nome Completo</th>
                  <th width="18%">E-mail</th>
                  <th width="25%">CPF</th>
                  <th width="8%">Visualizar</th>
                  <th width="10%">Alterar usuário</th>      
                </tr>
              </thead>

              <tbody>
               


                {loop="$results"}
                <tr >
                
                  <td class="text-primary font-weight-semibold"> <strong>{$value.iduser}</strong></a></td>
                  <td class="text-primary font-weight-semibold"><strong>{$value.desperson}</strong></a></td>
                  <td class="text-primary font-weight-semibold">{$value.desemail}</td>
                  <td class="text-primary font-weight-semibold">        {if="$value.desdocument != '' "}
                    {$value.desdocument}   

                  {else}                 
                      Não Informado.
            {/if}     </td>
                  

                  <td>
                    <a class="modal-with-zoom-anim ws-normal btn btn-success w-100 font-weight-bold" href="#modal{$counter}">Visualizar</a>          
                    </td>
                  <td><a href='/admin/usuarios/editar/{function="setHash($value.iduser)"} ' ><button class="btn btn-danger w-100 font-weight-bold">Editar</button></a></td>
            
                </tr>               







                	<!-- Modal Animation -->
  <div id="modal{$counter}" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="card">
      <header class="card-header">
   
      </header>
      <div class="card-body">
        <div class="modal-wrapper">
          
          <div class="text-center">
           
              <a class="text-8 font-weight-bold text-decoration-none text-primary ">{$value.desperson} (ID = {$value.iduser})  <i class="fas fa-question-circle text-primary"></i> </a>
          </div>

          <div class=" text-center  col-md-12 " >



                      <h5><strong>Nome :</strong> <span class="lighter-1">{$value.desperson}</span> </h5>
                      <h5><strong>Apelido :</strong> <span class="lighter-1">{$value.desnick}</span> </h5>
                      <h5><strong>Login :</strong> <span class="lighter-1">{$value.deslogin}</span> </h5>                   
                      <h5><strong>Admin :</strong> <span class="lighter-1">{if="$value.inadmin == 1"}Sim{else}Não{/if}</span> </h5>
                      <h5><strong>Vendedor : </strong><span class="lighter-1">{if="$value.inseller == 1"}Sim{else}Não{/if}</span> </h5>
                      <h5><strong>Comprador :</strong> <span class="lighter-1">{if="$value.inbuyer == 1"}Sim{else}Não{/if}</span> </h5>
                      <h5><strong>Passou pelo Cadastrar? : </strong><span class="lighter-1">{if="$value.inregister == 1"}Sim{else}Não{/if}</span> </h5>
                      <h5><strong>Status : </strong><span class="lighter-1">{if="$value.instatus == 1"}Ativo{else}Inativo{/if}</span> </h5>
                      <h5><strong>Auto-Status :</strong> <span class="lighter-1">{if="$value.inautostatus == 1"}Ativo{else}Inativo{/if}</span></h5>
                      <h5><strong>Aceitou os termos : </strong><span class="lighter-1">{if="$value.inautostatus == 1"}Sim{else}Não{/if}</span></h5>
                      <h5><strong>IP Registrado :</strong> <span class="lighter-1">{$value.desipterms}</span></h5>
                      <h5><strong>Data dos Termos :</strong> <span class="lighter-1">{function="formatDate($value.dtterms)"}</span></h5>






                      <h5><strong>Email : </strong> <span class="lighter-1">{$value.desemail}</span> </h5>
                    



                      <h5>
                        <strong>Telefone :</strong>  
                          <span class="lighter-1">

                          {if="$value.nrphone != '' "}
                          ({$value.nrddd}) {$value.nrphone}
                            {else}                 
                                  Não Informado.
                          {/if}                   
                        </span> 
                    </h5>


                    
                    <h5>
                      <strong>{if="$value.intypedoc == 0"}CPF{else}CNPJ{/if}        </strong>         
                      <span class="lighter-1"> 

                            {if="$value.desdocument != '' "}
                              {$value.desdocument}   

                            {else}                 
                                Não Informado.
                      {/if}                   
                      </span> 
                  </h5>

                  


                  <h5>
                  <strong>Data Nascimento :</strong>  
                    <span class="lighter-1">

                          {if="$value.dtbirth != '' "}
                          {function="formatDate($value.dtbirth)"}  

                          {else}                 
                              Não Informada.
                    {/if}                   
                    </span> 
                </h5>

                



                    
                <h5>
                 <strong>Cep :</strong> 
                  <span class="lighter-1">

                        {if="$value.dtbirth != '' "}
                        {$value.deszipcode}

                        {else}                 
                            Não Informado.
                  {/if}                   
                  </span> 
              </h5>

              <h5>
             <strong> Endereço : </strong>  
                <span class="lighter-1">  

                      {if="$value.desaddress != '' "}
                      {$value.desaddress}, {$value.desnumber} - {$value.descomplement}
                      - {$value.desdistrict} - {$value.descity} - {$value.desstatecode}

                      {else}                 
                          Não Informado.
                {/if}                   
                </span> 
            </h5>
                  

            <h5><strong>Data de Cadastro :</strong>  <span class="lighter-1">{function="formatDate($value.dtregister)"}</span> </h5>

       
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <div class="row">
        <div class="col-md-12 text-right">
        
          <a href='/admin/usuarios/mudar-senha/{function="setHash($value.iduser)"}' style="text-decoration: none;" >
            <button class="btn btn-success text-5">Alterar Senha</button> </a>
          <button class="btn btn-danger text-5 modal-dismiss">Fechar</button>
        </div>
      </div>
    </footer>
  </section>
</div>

      
        
        
      













              {/loop}

              </tbody>


            </table>

            <hr class="solid mt-5 opacity-4">
        
        
            <div class="datatable-footer">
              <div class="row align-items-center justify-content-between mt-3">
                        
                      <div class="col-lg-auto text-center order-3 order-lg-2">
                        <div class="results-info-wrapper"></div>
                      </div>
                        <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                          <div class="pagination-wrapper"></div>
                        </div>
              </div>
            </div>


          </table>
        </div>
      </div>

    </div>
  </div>
  <!-- end: page -->
</section>