{include="dashboardMenu"}




<!-- start: page -->
<section class="action-buttons-fixed" >
       

    {if="$error"}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
     {$error}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {/if}

    {if="$sucess"}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
     {$sucess}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {/if}

  
  
  
    <div class="row">
        <div class="col">
           
           
        <form action='/admin/usuarios/editar/{function="setHash($RegularUser.iduser)"} ' method="POST">
            <section class="card card-modern card-big-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2-5 col-xl-1-5">
                            <i class="card-big-info-icon bx bxs-notepad text-primary"></i>
                            <h2 class="card-big-info-title">Alterar Informações</h2>
                            <p class="card-big-info-desc">Essa página foi criada com o intuíto de alterar as informações dos usuários.</p>
                        </div>

                        
                
                        <div class="col-lg-3-5 col-xl-4-5">


                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0 font-weight-semibold">ID <strong>Usuário</strong> </label>
                                <div class="col-lg-7 col-xl-6">
                                    <input type="text" class="form-control form-control-modern" value="{$RegularUser.iduser}" required style="background-color: rgb(230, 230, 230);" disabled/>
                                </div>                                
                            </div>


                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0 font-weight-semibold">Nome <strong>Usuário</strong> </label>
                                <div class="col-lg-7 col-xl-6">
                                    <input type="text" class="form-control form-control-modern" value="{$RegularUser.desperson}" required style="background-color: rgb(230, 230, 230);" disabled/>
                                </div>                                
                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0 font-weight-semibold">Login <strong>Usuário</strong> </label>
                                <div class="col-lg-7 col-xl-6">
                                    <input type="text" class="form-control form-control-modern" value="{$RegularUser.deslogin}" required style="background-color: rgb(230, 230, 230);" disabled/>
                                </div>                                
                            </div>


       
              


                             <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0 font-weight-semibold">Status do <strong>Usuário</strong> </label>
                                 <div class="col-lg-7 col-xl-6">
                                                            
                                    <select class="form-control form-control-modern" id="inautostatus" name="inautostatus" required style="background-color: rgb(240, 240, 240);">
                             
                                        <option value="1" {if="$RegularUser.inautostatus == 1"}selected{/if} >Ativo</option>
                                        <option value="0" {if="$RegularUser.inautostatus == 0"}selected{/if} >Inativo</option>
                                      
    
                                    </select>

                                </div>                                
                            </div>



                                   
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0 font-weight-semibold">Status da <strong>Conta</strong> </label>
                                 <div class="col-lg-7 col-xl-6">
                                                            
                                    <select class="form-control form-control-modern" id="instatus" name="instatus" required style="background-color: rgb(240, 240, 240);">
                             
                                        
                                    <option value="1" {if="$RegularUser.instatus == 1"}selected{/if} >Ativo</option>
                                    <option value="0" {if="$RegularUser.instatus == 0"}selected{/if} >Inativo</option>
                                      
    
                                    </select>

                                </div>                                
                            </div>


                            
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0 font-weight-semibold">Pode  <strong>Comprar?</strong> </label>
                                 <div class="col-lg-7 col-xl-6">
                                                            
                                    <select class="form-control form-control-modern" id="inbuyer" name="inbuyer" required style="background-color: rgb(240, 240, 240);">
                             
                                        <option value="1" {if="$RegularUser.inbuyer == 1"}selected{/if} >Sim</option>
                                        <option value="0" {if="$RegularUser.inbuyer == 0"}selected{/if} >Não</option>
                                      
    
                                    </select>

                                </div>                                
                            </div>

                
            



                            
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0 font-weight-semibold">Pode <strong>Vender?</strong> </label>
                                 <div class="col-lg-7 col-xl-6">
                                                            
                                    <select class="form-control form-control-modern" id="inseller" name="inseller" required style="background-color: rgb(240, 240, 240);">
                             
                                        <option value="1" {if="$RegularUser.inseller == 1"}selected{/if} >Sim</option>
                                        <option value="0" {if="$RegularUser.inseller == 0"}selected{/if} >Não</option>
                                      
    
                                        
                                    </select>

                                </div>                                
                            </div>





                      


                        
                        
                            <div class="form-group row align-items-center justify-content-center">
                                <button type="submit" class="submit-button bg-primary btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Carregando...">
                                    <i class="bx bx-save text-4 mr-2"></i> Salvar Informações
                                </button>
                                <a  href="/admin/" class="submit-button bg-danger btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Carregando...">
                                    <i class="bx bx-save text-4 mr-2"></i> Voltar ao Menu
                                </a>
                            </div>
                        


                        </div>



                    </div>
                </div>
           </section>
        </form>

    </div>
</div>  






</section>
<!-- end: page -->




