	<!-- start: page -->
    <div class="row">
        <div class="col">
          {if="$error"}
          <div class="alert alert-danger  fade show" role="alert">
           {$error}
      
          </div>
          {/if}
    
          {if="$sucess"}
          <div class="alert alert-success  fade show" role="alert">
           {$sucess}

          </div>
          {/if}
          <div class="card card-modern">
            <div class="card-body">
              <div class="datatables-header-footer-wrapper">
                <div class="datatable-header">
                  <div class="row align-items-center mb-3">
                    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                     
    
                      <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                        <label class="ws-nowrap mr-3 mb-0">Filtar Por:</label>
                        <select class="form-control select-style-1 filter-by" name="filter-by">
                          <option value="all" selected>Mostrar Todos</option>
                   

                        </select>
                      </div>
    
    
                    </div>
                    <div class="col-8 col-lg-auto ml-auto mb-3 mb-lg-0">
                     
                    </div>
                    <div class="col-4 col-lg-auto pl-lg-1 mb-3 mb-lg-0">
                      <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                        <label class="ws-nowrap mr-3 mb-0">Colunas:</label>
                        <select class="form-control select-style-1 results-per-page" name="results-per-page">
                          <option value="7" selected>7</option>
                          <option value="24">24</option>
                          <option value="36">36</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-lg-auto pl-lg-1">
                      <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                        <div class="input-group">
                          <input type="text" class="search-term form-control" name="search-term" id="search-term" placeholder="Procurar usuário...">
                          <span class="input-group-append">
                            <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
          
                <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list" style="min-width: 750px;">
                
             
                  <thead>
                    <tr>
                  
                      <th width="5%">ID </th>             
                      <th width="10%">Nome do Produto</th>
                      <th width="10%">Status da compra</th>
                      <th width="10%">Método Pagamento</th>
                      <th width="10%">Parcelamento</th>
                      <th width="10%">Valor Total</th>
                      <th width="10%">Data </th>
                      <th width="10%">Visualizar</th>
                      <th width="10%">Modificar Produto</th>                 
                    </tr>
                  </thead>
    
                  <tbody>
               
    
    
                    {loop="$results"}
                    <tr > 
                   
                      <td class="text-primary font-weight-semibold"> <strong>{$value.idrecibo}</strong></a></td>
                      <td ><strong><a class="text-primary font-weight-semibold" href='{function="getPurchaseInfoAndReturnHashOnURL($value.idrecibo)"}'>{function="getPurchaseInfo($value.idrecibo,'desproduct')"}</a></strong></td>
                      <td class="text-primary font-weight-semibold">{$value.desbuystate}</td>
                      <td class="text-primary font-weight-semibold">{$value.desmethod}</td>
                      <td class="text-primary font-weight-semibold">{$value.despayament}</td>
                      <td class="text-primary font-weight-semibold">R$ {function="ConvertVirgulaToPonto(getPurchaseInfo($value.idrecibo,'vlprice'))"}</td>
                      <td class="text-primary font-weight-semibold">{$value.dtbuy}</td>
                     
                      <td>
                        <a class="modal-with-zoom-anim ws-normal btn btn-success w-100 font-weight-bold" href="#modal{$counter}">Visualizar</a>          
                      </td>
                    
                      <td> <a class="modal-with-zoom-anim ws-normal btn btn-danger w-100 font-weight-bold" href="#delete{$counter}"  >Deletar</a></td>
                
                    </tr>               
    













    
    
    
    
                        <!-- Modal Animation -->
                        <div id="delete{$counter}" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
                            <section class="card">
                              <header class="card-header">
                           
                              </header>
                              <div class="card-body">
                                <div class="modal-wrapper">
                                  
                                  <div class="text-center">
                                   
                                      <a class="text-8 font-weight-bold text-decoration-none text-primary ">Você tem certeza de que deseja DELETAR este recibo? </a>
                                  </div>
                        
                                  <div class=" text-center  col-md-12 " >
                        
                        
                        
                                    <hr>
                                    <h5><strong>Status da compra :</strong> <span class="lighter-1">{$value.desbuystate}</span> </h5>
                                    <h5><strong>Parcelamento da compra :</strong> <span class="lighter-1">{$value.despayament}</span> </h5>
                                    <h5><strong>Método de pagamento :</strong> <span class="lighter-1">{$value.desmethod}</span> </h5>                                 
                                    <h5><strong>IP do comprador :</strong> <span class="lighter-1">{$value.desip}</span> </h5>                              
                                    <h5><strong>Data da compra:</strong> <span class="lighter-1">{$value.dtbuy}</span> </h5>
                                           
                                    <hr>
                        
                               
                                    <h5><strong>Nome do produto :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desproduct')"}</span> </h5>
                                    <h5><strong>Resumo do produto :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desresume')"}</span> </h5>                                           
                                    <h5><strong>Valor do produto :</strong> <span class="lighter-1">R${function="ConvertVirgulaToPonto(getPurchaseInfo($value.idrecibo,'vlprice'))"}</span> </h5>                              
                                    <h5><strong>Tags do produto :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'destags')"}</span> </h5>
                                  
                                
                                
                               <hr>
                               
                                <h5><strong>Nome do vendedor :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desperson')"}</span> </h5>
                                <h5><strong>Apelido do vendedor :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desnick')"}</span> </h5>
                                <h5><strong>E-mail do vendedor :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desemail')"}</span> </h5>                                 
                                <h5><strong>IP do vendedor :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desipterms')"}</span> </h5>                              
                                <h5><strong>Data de registro:</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'dtregister')"}</span> </h5>
                                <hr> 
          
                                
              
                                       
                            
                               
                                </div>
                              </div>
                            </div>
                            <footer class="card-footer">
                              <div class="row">
                                <div class="col-md-12 text-right">
                                
                                  <a href='/admin/compras/deletar/{function="setHash($value.idrecibo)"}' style="text-decoration: none;" >
                                    <button class="btn btn-danger text-5">Deletar Recibo</button> </a>
                                  <button class="btn btn-success text-5 modal-dismiss">Fechar</button>
                                </div>
                              </div>
                            </footer>
                          </section>
                        </div>
                        

























                    
    
    
    
    
    
    
                        <!-- Modal Animation -->
      <div id="modal{$counter}" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
        <section class="card">
          <header class="card-header">
       
          </header>
          <div class="card-body">
            <div class="modal-wrapper">
              
              <div class="text-center">
                  <strong class="text-8 font-weight-bold text-decoration-none text-primary">RECIBO DA COMPRA</strong>
                  <br>
                  <a class="text-8 font-weight-bold text-decoration-none text-primary" href='/admin/anuncios/editar/{function="setHash($value.idproduct)"}'>{function="getPurchaseInfo($value.idrecibo,'desproduct')"} - (R${function="ConvertVirgulaToPonto(getPurchaseInfo($value.idrecibo,'vlprice'))"})  <i class="fas fa-question-circle text-primary"></i> </a>
              </div>
    
              <div class=" text-center  col-md-12 " >
    
        
                          <hr>
                          <h5><strong>Status da compra :</strong> <span class="lighter-1">{$value.desbuystate}</span> </h5>
                          <h5><strong>Parcelamento da compra :</strong> <span class="lighter-1">{$value.despayament}</span> </h5>
                          <h5><strong>Método de pagamento :</strong> <span class="lighter-1">{$value.desmethod}</span> </h5>                                 
                          <h5><strong>IP do comprador :</strong> <span class="lighter-1">{$value.desip}</span> </h5>                              
                          <h5><strong>Data da compra:</strong> <span class="lighter-1">{$value.dtbuy}</span> </h5>
                                 
                          <hr>
              
                     
                          <h5><strong>Nome do produto :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desproduct')"}</span> </h5>
                          <h5><strong>Resumo do produto :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desresume')"}</span> </h5>                                           
                          <h5><strong>Valor do produto :</strong> <span class="lighter-1">R${function="ConvertVirgulaToPonto(getPurchaseInfo($value.idrecibo,'vlprice'))"}</span> </h5>                              
                          <h5><strong>Tags do produto :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'destags')"}</span> </h5>
                        
                      
                      
                     <hr>
                     
                      <h5><strong>Nome do vendedor :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desperson')"}</span> </h5>
                      <h5><strong>Apelido do vendedor :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desnick')"}</span> </h5>
                      <h5><strong>E-mail do vendedor :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desemail')"}</span> </h5>                                 
                      <h5><strong>IP do vendedor :</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'desipterms')"}</span> </h5>                              
                      <h5><strong>Data de registro:</strong> <span class="lighter-1">{function="getPurchaseInfo($value.idrecibo,'dtregister')"}</span> </h5>
                      <hr> 

                      
    

    
           
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <div class="row">
            <div class="col-md-12 text-right">
            
              <a href='{function="getPurchaseInfoAndReturnHashOnURL($value.idrecibo)"}' style="text-decoration: none;" >
                <button class="btn btn-success text-5">Modificar Compra</button> </a>
              <button class="btn btn-danger text-5 modal-dismiss">Fechar</button>
            </div>
          </div>
        </footer>
      </section>
    </div>
    
          
            
            
          
    
    
    
    
    
    
    
    
    
    
    
    
    
                  {/loop}
    
                  </tbody>
    
    
                </table>
    
                <hr class="solid mt-5 opacity-4">
            
            
                <div class="datatable-footer">
                  <div class="row align-items-center justify-content-between mt-3">
                            
                          <div class="col-lg-auto text-center order-3 order-lg-2">
                            <div class="results-info-wrapper"></div>
                          </div>
                            <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                              <div class="pagination-wrapper"></div>
                            </div>
                  </div>
                </div>
    
    
              </table>
            </div>
          </div>
    
        </div>
      </div>
      <!-- end: page -->
    </section>