body {
    transition: background-color 0.5s ease;
    color: #333;
    background-color: #fff;
  }
  
  body.dark-mode {
    color: #ddd;
    background-color: #333;
  }

  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px; /* torna o botão menor */
    height: 20px; /* torna o botão menor */
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; /* arredonda o botão */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px; /* torna o botão menor */
    width: 16px; /* torna o botão menor */
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* arredonda o botão */
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px); /* torna o botão menor */
    -ms-transform: translateX(20px); /* torna o botão menor */
    transform: translateX(20px); /* torna o botão menor */
  }
  
  