<form [formGroup]="clienteForm" (ngSubmit)="buscar(clienteForm.value)">
  <fieldset>
    <legend><h4 class="text-center">{{ titulo }}</h4></legend>
    <div class="form-group row">
      <div class="col-md-1">
        <label for="id">Id</label>
        <input type="text" class="form-control" name="id" formControlName="id">
      </div>
      <div class="col-md-2">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="nome" formControlName="nome">
      </div>
      <div class="col-sm-2">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" class="form-control" name="sobrenome" formControlName="sobrenome">
      </div>
      <div class="col-sm-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" formControlName="email">
      </div>
      <div class="col-sm-3 d-flex align-items-end">
        <button class="btn btn-primary" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
      </div>
    </div>
  </fieldset>


</form>
