
<body> 
    <section class="body ">
       
        <!-- start: header -->
        <header class="header header-nav-menu header-nav-links ">
            <div class="logo-container">
             
                <a href="../" class="logo font-weight-bold "  style="text-decoration: none; ">
                    <span class="logo-image text-white text-8">DASHBOARD </span>
                    <span class="logo-image-mobile text-dark text-8">DASHBOARD </span>               
               </a>

                <button class="btn header-btn-collapse-nav d-lg-none" data-toggle="collapse" data-target=".header-nav">
                    <i class="fas fa-bars"></i>
                </button>
        

        <style>
            .text-hover:hover{
                color: #ff1616;
            }
        </style>



        <section class="d-lg-none ">
                <!-- start: header nav menu -->
                <div class="header-nav collapse ">
                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 header-nav-main-square">
                        <nav>
                            <ul class="nav nav-pills" id="mainNav">
                                            <li class="">
                                                <a class="nav-link text-dark text-hover" href="/dashboard">
                                                    <i class='bx bxs-user-rectangle'></i>  Meu Perfil
                                                </a>    
                                            </li>
                                            <li class="">
                                                <a class="nav-link text-dark text-hover" href="/dashboard">
                                                    <i class='bx bxs-wallet'></i>  Meu Perfil
                                                </a>    
                                            </li>
                                            <li class="">
                                                <a class="nav-link text-dark text-hover"  href="/dashboard">
                                                    <i class='bx bxs-wallet'></i> Informações da Conta
                                                </a>    
                                            </li>
                                            <li class="">
                                                <a class="nav-link text-dark text-hover" href="/mensagens">
                                                    <i class='bx bxs-message-square-detail'></i>   Mensagens
                                                </a>    
                                            </li>
                                            <li class="">
                                                <a class="nav-link text-dark text-hover" href="/dashboard">
                                                    <i class='bx bxs-wallet'></i>  Dashboard
                                                </a>    
                                            </li>                                                                                   
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- end: header nav menu -->
         </section>
            </div>
      




            
        
            <!-- start: search & user box -->
            <div class="header-right">
        
        
             
                <a class="dropdown-language nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="/res/UserDashboard/assets/images/flags/br.png" class="flag flag-us" alt="Portugues" /> PT-BR
                 
                </a>
         
            
                <span class="separator"></span>
        
             
        
                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <span class="profile-picture profile-picture-as-text bg-primary">US</span>
                        <div class="profile-info profile-info-no-role" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                            <span class="name">Olá, <strong class="font-weight-semibold">Usuário</strong></span>
                        </div>
                        
                        <i class="fas fa-chevron-down text-color-dark"></i>
                    </a>
        
                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="bx bx-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="bx bx-lock-open-alt"></i> Lock Screen</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/logout"><i class="bx bx-log-out"></i> Desconectar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->
        