pgdata
**/README.md
**/.env*
**/settings.ini

.git
.gitkeep
.gitignore

.idea
**/*.swp
**/*.log

.circleci/

sonar-project.properties
.scannerwork/

Makefile
docker-compose*.yml
*/Dockerfile*

src/coverage.xml
src/htmlcov/
src/.coverage
src/.tox/
src/.nox/
src/.dockerignore
**/.venv/
**/*.pyc
**/__pycache__/
**/.pytest_cache/
src/main/static/vue/

frontend/coverage/
frontend/.dockerignore
**/node_modules/
**/.yarn_cache/
