/upload-hub/*.log
/upload-hub/.DS_Store
/upload-hub/.env
/upload-hub/.env.backup
/upload-hub/.env.production
/upload-hub/.phpactor.json
/upload-hub/.phpunit.result.cache
/upload-hub//.fleet
/upload-hub//.idea
/upload-hub//.nova
/upload-hub//.phpunit.cache
/upload-hub//.vscode
/upload-hub//.zed
/upload-hub//auth.json
/upload-hub//node_modules
/upload-hub//public/build
/upload-hub//public/hot
/upload-hub//public/storage
/upload-hub//storage/*.key
/upload-hub//storage/pail
/upload-hub//vendor
/upload-hub/Homestead.json
/upload-hub/Homestead.yaml
/upload-hub/Thumbs.db
