desafio-desenvolvedor/.phpunit.cache
desafio-desenvolvedor/node_modules
desafio-desenvolvedor/public/build
desafio-desenvolvedor/public/hot
desafio-desenvolvedor/public/storage
desafio-desenvolvedor/storage/*.key
desafio-desenvolvedor/vendor
desafio-desenvolvedor/.env
desafio-desenvolvedor/.env.backup
desafio-desenvolvedor/.env.production
desafio-desenvolvedor/.phpunit.result.cache
desafio-desenvolvedor/Homestead.json
desafio-desenvolvedor/Homestead.yaml
desafio-desenvolvedor/auth.json
desafio-desenvolvedor/npm-debug.log
desafio-desenvolvedor/yarn-error.log
desafio-desenvolvedor/.fleet
desafio-desenvolvedor/.idea
desafio-desenvolvedor/.vscode
