@import "variables";

@color-primary: #FDD55C;
@color-primary-inverse: #1e1e1e;

@color-secondary: #ecf1f7;

@color-tertiary: #403f3d;

@color-quaternary: #1f1e1c;

@color-dark: #1e1e1e;

@import "skin";

/*
* Text Color
*/
.custom-text-color-3 {
	color: darken(@color-primary, 49%) !important;
}

@import "skin-resume-common";