@import "variables";

@border-radius: 0;

@color-primary: #e41645;

@color-secondary: #292929;

@color-tertiary: #e0e1e5;

@color-quaternary: #777777;

@color-dark: #292929;

@import "skin-digital-agency-2-common";

@import "skin";