<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ env('APP_URL') }}" class="brand-link">
        <img
            src="/assets/dist/img/vindite-logo.png"
            alt="{{ env('APP_NAME') }}"
            class="brand-image img-circle"
            style="opacity: .8">
        <span class="brand-text font-weight-light">{{ env('APP_NAME') }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ app()->session()->getUserData('fullname') }}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                  <!-- Conversor de moedas -->
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="fas fa-coins"></i>
                        <p>Conversor de Moedas</p>
                    </a>
                </li>

                <!-- Histórico -->
                <li class="nav-item">
                    <a href="/client/convert/history" class="nav-link">
                        <i class="fas fa-history"></i>
                        <p>Histórico</p>
                    </a>
                </li>

                <!-- Config de admin -->
                {% if (app()->session()->getUserData('is_admin')): %}
                    <li class="nav-item">
                        <a href="/admin/config" class="nav-link">
                            <i class="fas fa-cogs"></i>
                            <p>Configurar taxas</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>
