<div class="bs-stepper-header" role="tablist">
    <!-- your steps here -->
    <div class="step" data-target="#currency-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="currency-part"
            id="currency-part-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Selecionar Moedas</span>
        </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#payment-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="payment-part"
            id="payment-part-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Selecionar Forma de Pagamento</span>
        </button>
    </div>
</div>