.register-conteiner{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0,0,0, 0.3);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.conteiner section{
    width: 100%;
    max-width: 380px;
}
.conteiner section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}
.conteiner section p{
    font-size: 18;
    color: #737380;
    line-height: 32px;
}

.conteiner form{
    width: 100%;
    max-width: 450px;
}

.grup-input{
  display: flex;
}
.grup-input input + input{
    margin-left: 8px;
}
  