APP_NAME=B3Instruments
APP_ENV=local
APP_KEY=base64:JIyQSeS+AH0WxnbOQ48PeZFlAS+wrB6KarbRO7J9dSU=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mongodb
DB_HOST=mongodb
DB_PORT=27017
DB_DATABASE=b3_instruments
DB_USERNAME=
DB_PASSWORD=

FILESYSTEM_DISK=local

SESSION_DRIVER=file