@tailwind base;
@tailwind components;
@tailwind utilities;

input, select, button {
    outline: none;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

@layer components {
    .base-button {
        @apply bg-base-red text-white px-4 py-1.5 rounded-lg hover:bg-opacity-85 duration-300 ease-in-out focus:outline-none focus-visible:ring-base-red;
    }

    .border-button {
        @apply text-base-red border border-base-red rounded-lg hover:bg-base-red/30 duration-300 ease-in-out;
    }
}
