
<div class="card mt-3 mb-3 table-responsive">

  <app-busca-pedido [titulo]="titulo" (listarPedidos)="buscarPedidos($event)" class="card-header">
  </app-busca-pedido>

  <div class="d-flex justify-content-between">
    <span class="mt-2 mb-2 ml-2"> {{ qtdRegistros | number }} de registros encontrados</span>
    <a (click)="executarAcao(null, 'i')" class="mt-2 mr-2 apontador"  alt="Incluir" title="Incluir"><fa-icon [icon]="faPlus"></fa-icon></a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">#&nbsp;<fa-icon [icon]="sortIcon" (click)="ordenar('id', sortOrder)"></fa-icon></th>
        <th style="width: 40%">Cliente&nbsp;<fa-icon [icon]="sortIcon" (click)="ordenar('cliente', sortOrder)"></fa-icon></th>
        <th style="width: 30%">Status&nbsp;<fa-icon [icon]="sortIcon" (click)="ordenar('status', sortOrder)"></fa-icon></th>
        <th style="width: 10%">Total&nbsp;<fa-icon [icon]="sortIcon" (click)="ordenar('total', sortOrder)"></fa-icon></th>
        <th style="width: 10%">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <td colspan="5">
          <app-loading></app-loading>
        </td>
      </tr>
      <tr *ngFor="let pedido of pedidos;let i = index">
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.cliente.nome }}</td>
        <td>{{ pedido.status.descricao }}</td>
        <td>{{ pedido.total }}</td>
        <td>
          <a *ngIf="pedido.status.id < 3" (click)="executarAcao(pedido, 'a')" class="apontador" alt="Editar" title="Editar"><fa-icon [icon]="faPen"></fa-icon></a>&nbsp;
          <a (click)="executarAcao(pedido, 'e')" class="apontador" alt="Apagar" title="Apagar"><fa-icon [icon]="faTrashAlt"></fa-icon></a>&nbsp;
        </td>
      </tr>
      <tr *ngIf="!loading && pedidos?.length == 0">
        <td colspan="5" class="text-center">Nenhum pedido encontrado!</td>
      </tr>
    </tbody>
  </table>

</div>
