
/* FONT */

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*TAG */

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/* BASE */

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-back {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.painel {
  background-color:white; 
  height: 60%; 
  width:60%; 
  border-radius: 10px; 
  padding:50px
}

.mt25{
  margin-top: 25px;
}

.mt15{
  margin-top: 15px;
}

.mt10{
  margin-top: 10px;
}

/* LOADING */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #57b846;
  border-color: #57b846 transparent #57b846 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring-sm {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring-sm:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 12px;
  border-radius: 50%;
  border: 4px solid #57b846;
  border-color: #57b846 transparent #57b846 transparent;
  animation: lds-dual-ring-sm 1.2s linear infinite;
}
@keyframes lds-dual-ring-sm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


