/*CSS HELPER*/
.d-inline {
    display: inline;
}

.line-1 {
    line-height: 1em;
}

.clear-both {
    clear: both !important;
}

.clear-both:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
