/* Sobreposiçãoes */

.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img {
    max-height: 3rem !important
}

.bg-tema {
    background-color: #d40000
}

.bg-tema-2 {
    background-color: #4f4f4f;
}

.breadcrumb {
    margin-bottom: 0 !important
}

/* Erros */

input.error, select.error, textarea.error{
    border: 1px solid red;
}

label.error{
    color: red;
}