// compress: true, out: ../../../public/site/css/

.container-coin-conversion {
    margin-top: 100px;
}

.success-coin-convert {
    margin-top: 50px;
    display: flex;
    flex-direction: column!important;
}

.error-coin-convert {
    margin-top: 50px;
    display: flex;
    flex-direction: column!important;
}
