
<div class="card mt-3 mb-3 table-responsive">

  <app-busca-produto [titulo]="titulo" (listarProdutos)="buscarProdutos($event)" class="card-header">
  </app-busca-produto>

  <div class="d-flex justify-content-between">
    <span class="mt-2 mb-2 ml-2"> {{ qtdRegistros | number }} de registros encontrados</span>
    <a (click)="executarAcao(null, 'i')" class="mt-2 mr-2 apontador"  alt="Incluir" title="Incluir"><fa-icon [icon]="faPlus"></fa-icon></a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">#&nbsp;<fa-icon [icon]="sortIcon" (click)="ordenar('id', sortOrder)"></fa-icon></th>
        <th style="width: 30%">Descrição&nbsp;<fa-icon [icon]="sortIcon" (click)="ordenar('descricao', sortOrder)"></fa-icon></th>
        <th style="width: 30%">Quantidade&nbsp;<fa-icon [icon]="sortIcon" (click)="ordenar('quantidade', sortOrder)"></fa-icon></th>
        <th style="width: 20%">Preço&nbsp;<fa-icon [icon]="sortIcon" (click)="ordenar('preco', sortOrder)"></fa-icon></th>
        <th style="width: 10%">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <td colspan="5">
          <app-loading></app-loading>
        </td>
      </tr>
      <tr *ngFor="let produto of produtos;let i = index">
        <td>{{ produto.id }}</td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>{{ produto.preco }}</td>
        <td>
          <a (click)="executarAcao(produto, 'a')" class="apontador" alt="Editar" title="Editar"><fa-icon [icon]="faPen"></fa-icon></a>&nbsp;
          <a (click)="executarAcao(produto, 'e')" class="apontador" alt="Apagar" title="Apagar"><fa-icon [icon]="faTrashAlt"></fa-icon></a>&nbsp;
        </td>
      </tr>
      <tr *ngIf="!loading && produtos?.length == 0">
        <td colspan="5" class="text-center">Nenhum produto encontrado!</td>
      </tr>
    </tbody>
  </table>

</div>
