.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.main h1 {
  margin-bottom: 3px;
}

.config_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 50%;
}

.save_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.tooltipo_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}