.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 5%;
}

.main h1 {
  margin-bottom: 1px;
}

.main a {
  text-decoration: none;
  color: #29712D;
}

.form_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.value_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fetch_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}