.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.main h1 {
    margin-bottom: 1px;
}

.main a {
    text-decoration: none;
    color: #29712D;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 5%;
}