.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 5%;
}

.profile_row {
  display: flex;
  flex-direction: row;
}

.purchases_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

}