.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.register_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 50%;
}

.register_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 5%;
}