.btn-component {
    width: 150px;
    height: 45px;
    background-color: $black;
    border: none;
    border-radius: 5px;
    color: $white;
    position: relative;

    &:hover {
        cursor: pointer;
    }

    &:active {
        top: 2px;
    }
}
